body {
    background: #eee;
    text-align: center;
    padding: 50px;
    font-family: arial, sans-serif;
}

body {
    background-image:url('https://64.media.tumblr.com/167bafe644e9a2af464a7664e26b88f7/tumblr_ool545MQ4E1vcsrlfo1_1280.gifv');
    background-size: cover;
    background-repeat: no-repeat;
}

#main, #chats {
    display: block;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
    background: rgba(255, 255, 255, 0.5);
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;

}

#chats {
    position: absolute;
    /* margin-left: auto; */
    /* margin-right: auto; */
    left: 0;
    right: 0;
    text-align: center;
    overflow-y: auto;
}

#main h1 {
    font-family: 'Bebas Neue', cursive;
    margin-top: 0;
    font-size: 75px;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {

    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.username {
    position: relative;
}

.username:hover {
    cursor: pointer;
}
.username:hover:after {
    content: "Add friend" ;
    position: absolute ;
    top: 1.1em ;
    left: 1em ;
    min-width: 200px ;
    border: 1px #808080 solid ;
    padding: 8px ;
    color: black ;
    background-color: #cfc ;
    z-index: 1 ;
}
/* .username:hover:after {
    content: attr(data-hover);
    font-size: 10px;
} */

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}

input[type=submit] {
    background-color: #0090da;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
    padding: 10px 50px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 6px #0077b3;
}
input[type=submit]:hover {
    background-color: #0097e3;
    box-shadow: 0 4px #0077b3;
    top: 2px;
}

input[type=submit]:active {
    background-color: #00a1f2;
    box-shadow: none;
    top: 6px;
}

input[type=text] {
    padding-bottom: 15px;
}

button {
    background-color: #808080;
    outline: none;
    border: none;
    cursor: pointer;
    position: relative;
    padding: 10px 50px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 6px #656565;
}

button:hover {
    background-color: #909090;
    box-shadow: 0 4px #656565;
    top: 2px;
}

button:active {
    background-color: #999999;
    box-shadow: none;
    top: 6px;
}